body {
}
.main{
    margin: 0 auto;
    width: 400px;
}
.labelStyle{
    margin: 0;
    padding: 0;
    

}
.textbox{
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    
}
.radio{
    float: left;
    clear: left;
}
.button{
    margin-top: 20px;
    float: left;
    clear: both;
}
.error {
     Font-style: Italic;
     Font-Size: 10pt; 
     Color: Red;
}