body {
}
.main{
    margin: 0 auto;
    width: 400px;
}
.labelStyle{
    margin: 0;
    padding: 0;
}
.textbox{
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    
}
.radio{
    Font-Size: 10pt;
    Font: bold italic;  
}
.button{
    margin-top: 20px;
}
.error {
     Font-style: Italic;
     Font-Size: 10pt; 
     Color: Red;
}